* {
    margin : 0;
    padding : 0;
  }
header {
    background-color: white;
    padding : 0;
    position: sticky;
    width: 100%;
    z-index: 1;
    top : 0;
    margin-bottom: 0.7%;
}
body {
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color : lightblue;
    background-image: url("../img/pattern.jpg");
}
nav {
    float : right;
}
li {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    /*margin-top: 20px;*/
    margin-top: 20px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color : blue;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding : 15px;
}
h3 {
    color : black;
    margin-top: 17px;
    padding-bottom: 10px;
}
section {
    margin-bottom: 35px;
    width : 800px;
    margin : auto;
    background-color: #fff;
}
article {
    padding : 20px;
}
p {
    margin-bottom: 20px;
}
footer {
    background-color: black;
    padding : 15px;
    margin-top: 10px;
    position: relative;
    left : 0;
    bottom : 0;
    width : 100%
}
h5 {
    color : white;
    text-align : center;
    font-size : 15px;
}
